<!DOCTYPE html>
<html ng-app="resetPwd">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>INSPINIA | Register</title>

  <link href="../angular/css/bootstrap.min.css" rel="stylesheet">
  <link href="../angular/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="../angular/css/plugins/iCheck/custom.css" rel="stylesheet">
  <link href="../angular/css/animate.css" rel="stylesheet">
  <link href="../angular/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

<div class="middle-box text-center loginscreen  animated fadeInDown" ng-controller="resetPwdCtrl">
  <div>
    <div>

      <h1 class="logo-name">IN+</h1>

    </div>
    <h3>Reset Password</h3>

    <div ng-if="errorMsg" class="alert alert-danger">{{ errorMsg }}</div>
    <form class="m-t" role="form" action="" method="post">
      <div class="form-group">
        <input type="password" class="form-control" name="password" ng-keyup="onkeyDown()" placeholder="Password" required="" ng-model="password">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="confirmPassword" ng-keyup="onkeyDown()" placeholder="Confirm Password" required="" ng-model="confirmPassword">
      </div>
      <button id="submit" type="submit" class="btn btn-primary block full-width m-b">Change</button>
    </form>
  </div>
</div>

<!-- Mainly scripts -->
<script src="../angular/js/angular/angular.min.js"></script>
<script src="../angular/js/jquery/jquery-2.1.1.min.js"></script>
<script src="../angular/js/bootstrap/bootstrap.min.js"></script>
<script>
  var app = angular.module('resetPwd', []);

  app.controller('resetPwdCtrl', function($scope, $http, $timeout, $interval) {
    $scope.errorMsg = '<%= error%>';

    $scope.password = '';
    $scope.confirmPassword = '';

    $scope.onkeyDown = function() {
      if (!$scope.password) {
        $scope.errorMsg = 'password cannot be empty';
        document.getElementById("submit").disabled = true;
        return;
      }

      if (!$scope.confirmPassword) {
        $scope.errorMsg = 'confirm password cannot be empty';
        document.getElementById("submit").disabled = true;
        return;
      }

      if ($scope.password != $scope.confirmPassword){
        $scope.errorMsg = 'two passwords do not match';
        document.getElementById("submit").disabled = true;
        return;
      }

      $scope.errorMsg = '';
      document.getElementById("submit").disabled = false;
    };
  });
</script>
</body>

</html>
